<template>
	<div>
		<!-- 최대조회기간 변경 -->
		<div>
			<v-toolbar dense floating flat class="float-right">
				<v-select
					v-model="limitDays"
					:items="[100, 150, 200]"
					menu-props="auto"
					label="최대조회기간"
					hide-details
					prepend-icon="mdi-magnify"
					single-line
					style="width:100px;"
				></v-select>
				<span class="text-outline"
					>일 전까지 / 총 <span class="text-subtitle-2">{{ totalCount }}</span
					>건</span
				>
			</v-toolbar>
		</div>
		<!-- 타임라인 코드별 통계 -->
		<div style="clear: both;">
			<v-card-title> 최근 {{ limitDays }}일간 타임라인 코드별 통계 </v-card-title>
			<v-card-subtitle> {{ searchDateRange }} </v-card-subtitle>
			<v-card-text>
				<div v-if="totalCount === 0" class="text-center">조회된 데이터가 없습니다.</div>
				<v-chip-group v-if="totalCount > 0 && !searching" column>
					<v-chip
						:color="getColorByCode(item.code)"
						text-color="white"
						v-for="item in countByCode"
						:key="item.code"
						small
					>
						<v-avatar left :class="`${getColorByCode(item.code)} darken-4`">
							{{ item.count }}
						</v-avatar>
						{{ item.name }}
					</v-chip>
				</v-chip-group>
				<div class="d-flex justify-center">
					<v-progress-circular
						:size="50"
						color="primary"
						v-show="searching"
						indeterminate
					></v-progress-circular>
				</div>
			</v-card-text>
		</div>

		<!-- 타임라인 일별/코드별 통계 -->
		<div>
			<v-card-title> 최근 {{ limitDays }}일간 타임라인 일별/코드별 통계 </v-card-title>
			<v-card-subtitle> {{ searchDateRange }} </v-card-subtitle>
			<v-card-text>
				<div v-if="totalCount === 0" class="text-center">조회된 데이터가 없습니다.</div>
				<div v-if="totalCount > 0 && !searching">
					<v-data-table
						class="elevation-1"
						:items="countListByDate"
						:headers="countListByDateHeader"
						:disable-pagination="true"
						:hide-default-footer="true"
						:fixed-header="true"
						:height="400"
					>
					</v-data-table>
				</div>
				<div class="d-flex justify-center">
					<v-progress-circular
						:size="50"
						color="primary"
						v-show="searching"
						indeterminate
					></v-progress-circular>
				</div>
			</v-card-text>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		characterId: {
			type: String,
			default: '',
		},
		serverId: {
			type: String,
			default: '',
		},
		useCache: {
			type: Boolean,
			default: true,
		},
	},
	data() {
		return {
			countByCode: {},
			countByDate: {},
			countListByDate: [],
			countListByDateHeader: [
				{ value: 'date', text: '일자' },
				{ value: 'code', text: '타임라인코드' },
				{ value: 'name', text: '타임라인코드명' },
				{ value: 'count', text: 'Count' },
			],
			totalCount: 0,
			startDate: '',
			endDate: '',
			cache: {},
			limitDays: 100,
			unuseCache: false,
			searching: false,
			apiCallTerm: 10,
			colorByCode: {
				1: 'deep-purple',
				2: 'primary',
				3: 'green',
				4: 'orange',
				5: 'indigo',
				6: 'teal',
			},
		};
	},
	computed: {
		searchDateRange() {
			return `${this.startDate} ~ ${this.endDate}`;
		},
	},
	watch: {
		characterId() {
			this.limitDays = 100;
			this.init();
		},
		limitDays() {
			this.unuseCache = true;
			this.init();
		},
	},
	created() {
		this.init();
	},
	methods: {
		init() {
			if (!this.characterId) return;
			// 캐싱처리
			if (!this.unuseCache && this.useCache && this.cache[this.characterId]) {
				const cacheData = this.cache[this.characterId];
				this.countByDate = cacheData.cahcountByDate;
				this.countByCode = cacheData.countByCode;
				this.countListByDate = cacheData.countListByDate;
				this.totalCount = cacheData.totalCount;
				this.startDate = cacheData.startDate;
				this.endDate = cacheData.endDate;
				return;
			}
			if (isNaN(this.limitDays) || !parseInt(this.limitDays)) {
				this.limitDays = 100;
			}
			// 타임라인정보 조회 준비
			// 1. 100일전 날짜 구하기(최대조회 기간산정)
			const minStartTime = this.createPrevDate(this.limitDays).getTime();
			const minStartStr = this.createSearchDate(new Date(minStartTime));

			this.startDate = minStartStr;
			this.endDate = this.createSearchDate(new Date());

			// 2. 타임라인호출 기본 옵션
			// API호출의 최소화를위해 최대 조회가능 건수인 100건씩 조회하도록 세팅
			const options = {
				characterId: this.characterId,
				serverId: this.serverId,
				limit: 100, // 최대 100건씩 조회가능
				minStartTime,
				minStartStr,
			};
			// 3. 결과담을 객체 생성
			const result = {
				rows: [],
				count: 0,
			};

			// 4. 타임라인 정보 재귀함수 실행
			this.searching = true;
			this.recursiveCallTimeline(options, result)
				.then(({ rows }) => {
					// 통계 데이터 집계 실행
					this.calcStats(rows);
					this.unuseCache = false;
					this.searching = false;
				})
				.catch(err => {
					console.error(err);
				});
		},
		// 타임라인정보를 조회하는 재귀함수
		async recursiveCallTimeline(options, result, isEnd) {
			// 너무 빠르게 API요청을 하지 않도록 10ms 간격으로 sleep을 걸어줬다.
			await this.sleep(this.apiCallTerm);
			// eslint-disable-next-line no-useless-catch
			try {
				return await (async opt => {
					if (isEnd) {
						// 재귀 종료
						return result;
					} else {
						// 실제 데이터를 가져오는 API 호출
						const response = await this.$apiManager.getCharacterTimeline(opt);
						const timeline = response.data.timeline;
						const rows = timeline.rows;
						const date = timeline.date;
						const next = timeline.next;

						// 최종 Return할 객체에 데이터 push
						result.rows.push(...rows);
						// 호출 횟수 기록
						result.count++;

						// 이번 호출이 마지막 호출인지 검증
						// 100일전 데이터 조회 시 next가없을 때
						const isEnd = !next && date.start === opt.minStartStr;

						if (!isEnd) {
							// 끝이 아닌경우에만
							// 다음 조회 파라미터 세팅
							opt.startDate = date.start;
							opt.endDate = date.end;
							opt.next = next;
							if (!next) {
								// next가 없을때는 다음 날짜 범위로 세팅하여 재조회( 최대90일 )
								// 이전 startDate의 0.001초전으로 endDate를 세팅한다.
								const endDate = new Date(
									this.createDateByString(opt.startDate).getTime() - 1,
								);
								// 세팅된 endDate기준으로 검색가능한 최대 일수(90) 이전으로 startDate를 세팅한다(API호출횟수 최소화)
								let startDate = this.createPrevDate(90, endDate);

								// 최대 검색범위를 넘어서면 최대 검색범위로 재세팅
								if (startDate.getTime() < opt.minStartTime) {
									startDate = new Date(opt.minStartTime);
								}
								// 파라미터 DateFormat으로 포맷팅
								const startDateStr = this.createSearchDate(startDate);
								const endDateStr = this.createSearchDate(endDate);
								// 파라미터 세팅
								opt.startDate = startDateStr;
								opt.endDate = endDateStr;
							}
						}
						// 재귀호출
						return await this.recursiveCallTimeline(opt, result, isEnd);
					}
				})(options);
			} catch (e) {
				throw e;
			}
		},
		// sleep용 Promise 함수
		sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
		},

		// 타임라인 통계 집계 함수
		calcStats(data) {
			const countByCode = {};
			const countByDate = {};
			const countListByDate = [];
			const totalCount = data.length;
			data.forEach(v => {
				const date = v.date.substring(0, 10);
				const code = v.code;

				// 일자별 그룹핑 카운팅 통계
				if (!countByDate[date]) countByDate[date] = {};
				if (!countByDate[date][code]) countByDate[date][code] = { count: 0, name: v.name };
				countByDate[date][code].count++;

				// 코드별 그룹핑 카운팅 통계
				if (!countByCode[code]) {
					countByCode[code] = {
						count: 0,
						code,
						name: v.name,
					};
				}
				countByCode[code].count++;
			});
			// 일자별 그룹핑 카운팅 배열로 변환
			for (const date in countByDate) {
				// 해당하는 일자의 코드 카운팅 정보를 반환
				const codeInfo = countByDate[date];

				// 반환된 코드카운팅정보를 배열로 변환
				for (const code in codeInfo) {
					const info = codeInfo[code];
					countListByDate.push({
						date,
						code,
						name: info.name,
						count: info.count,
					});
				}
			}

			// 캐싱
			if (!this.cache[this.characterId]) {
				this.cache[this.characterId] = {
					countByDate,
					countByCode,
					countListByDate,
					totalCount,
					startDate: this.startDate,
					endDate: this.endDate,
				};
			}

			this.countByDate = countByDate;
			this.countByCode = countByCode;
			this.countListByDate = countListByDate;
			this.totalCount = totalCount;
		},
		// 타겟으로부터 N일 전 Date객체 반환함수
		createPrevDate(prevDays, target) {
			const oneDay = 1000 * 60 * 60 * 24;
			target = !target ? new Date() : target;
			return new Date(target.getTime() - oneDay * prevDays);
		},
		createDateByString(dateStr) {
			dateStr = dateStr.replace(/[^0-9]/gim, '');
			const yyyy = parseInt(dateStr.substring(0, 4));
			const m = parseInt(dateStr.substring(4, 6)) - 1;
			const d = parseInt(dateStr.substring(6, 8));
			const hh = parseInt(dateStr.substring(8, 10));
			const mi = parseInt(dateStr.substring(10, 12));
			return new Date(yyyy, m, d, hh, mi);
		},
		// 파라미터형식에 맞는 dateformat 으로 반환하는 함수
		// (yyyy-MM-dd HH:mm)
		createSearchDate(date) {
			const yyyy = date.getFullYear();
			const mm = this.fillZeroOne(date.getMonth() + 1);
			const dd = this.fillZeroOne(date.getDate());
			const hh = this.fillZeroOne(date.getHours());
			const mi = this.fillZeroOne(date.getMinutes());
			return `${yyyy}-${mm}-${dd} ${hh}:${mi}`;
		},
		fillZeroOne(i) {
			return i < 10 ? '0' + i : i;
		},
		getColorByCode(code) {
			return this.colorByCode[(code + '').substring(0, 1)];
		},
	},
};
</script>

<style></style>
