<template>
	<v-card flat tile>
		<v-toolbar dense flat>
			<v-app-bar-nav-icon @click="prevStep">
				<v-icon>mdi-arrow-left</v-icon>
			</v-app-bar-nav-icon>
			<v-toolbar-title>타임라인 통계</v-toolbar-title>
		</v-toolbar>
		<v-row>
			<v-col cols="12" sm="4" class="text-center">
				<div>
					<img v-if="imageSrc" :src="imageSrc" />
				</div>
				<div>
					<span class="text-overline" style="font-size:1.3em !important">{{
						characterInfo ? characterInfo.characterName : ''
					}}</span>
				</div>
				<div>
					<span class="text-overline"
						>Lv.{{ characterInfo ? characterInfo.level : '' }}</span
					>
				</div>
				<div>
					<span class="text-overline">{{
						characterInfo ? characterInfo.serverName : ''
					}}</span>
					/
					<span class="text-overline">{{
						characterInfo ? characterInfo.jobGrowName : ''
					}}</span>
				</div>
			</v-col>
			<v-col cols="12" sm="8">
				<CharacterTimeline
					:characterId="characterInfo ? characterInfo.characterId : ''"
					:serverId="characterInfo ? characterInfo.serverId : ''"
					:useCache="useCache"
				></CharacterTimeline>
			</v-col>
		</v-row>
	</v-card>
</template>

<script>
import CharacterTimeline from './CharacterTimeline';
export default {
	components: { CharacterTimeline },
	props: ['characterInfo', 'useCache', 'characterId'],
	data() {
		return {
			cache: {},
			loadedCharacterInfo: {
				characterInfo: null,
			},
			imageSrc: '',
		};
	},
	computed: {},
	watch: {
		// 부모 컴포넌트로 전달받은 캐릭터ID 정보가 바뀌면 유효성검사 후 데이터 조회를 실행.
		async characterId(newValue) {
			if (!newValue) return;
			try {
				// namespace 최소화
				const cInfo = this.characterInfo;
				const serverId = cInfo.serverId;
				const characterId = cInfo.characterId;
				const loadedInfo = this.loadedCharacterInfo;

				// 0. 유효성검사
				if (!this.validate()) return;
				// 1. 캐릭터 정보 조회
				const characterInfo = await this.$apiManager.getCharacterInfo(
					serverId,
					characterId,
				);
				// 2. 캐릭터 이미지 조회
				const characterImageSource = await this.$apiManager.getCharacterImage(
					serverId,
					characterId,
				);
				// 3. 캐릭터 이미지 base64로 변환
				const imageBase64 = await this.getBase64(characterImageSource.data);
				// 4. 캐릭터 기본정보 + 이미지정보 setting
				loadedInfo.characterInfo = characterInfo.data;
				this.imageSrc = loadedInfo.imageSrc = imageBase64;
				//   5. 캐싱처리
				this.cache[characterId] = JSON.parse(JSON.stringify(loadedInfo));
			} catch (e) {
				console.error(e);
			}
		},
	},
	methods: {
		// 효율적으로 데이터를 로드할 수 있도록 유효성검사
		validate() {
			if (!this.characterInfo) return false;

			// namespace 최소화
			const cInfo = this.characterInfo;
			const characterId = cInfo.characterId;

			// 캐릭터정보를 제대로 조회할 수 있을 때 조회하자.
			if (!cInfo || !cInfo.serverId || !characterId) {
				alert('서버정보 또는 캐릭터정보가 없습니다.');
				this.prevStep();
				return false;
			}

			// 불필요한 API호출을 방지하기위해 Cache Data를 활용하자.
			if (this.useCache && this.cache[characterId]) {
				this.loadedCharacterInfo = JSON.parse(JSON.stringify(this.cache[characterId]));
				this.imageSrc = this.loadedCharacterInfo.imageSrc;
				return false;
			}
			// 그 이외의 조회 할 수 있는, 조회 해야하는 상황이면 true를 반환하여 조회를 실행하도록 하자.
			return true;
		},

		// 이미지 base64로 반환하는 함수
		// Async/Await를 이용할 수 있도록 Promise객체 활용
		getBase64(data) {
			const reader = new FileReader();
			return new Promise(resolve => {
				reader.onload = e => {
					resolve(e.target.result);
				};
				reader.readAsDataURL(data);
			});
		},
		// 뒤로가기
		prevStep() {
			this.$emit('prevStep');
		},
	},
};
</script>

<style></style>
