<template>
	<div>
		<v-data-table
			class="elevation-1"
			:items="data"
			:headers="header"
			:fixed-header="true"
			:height="tableHeight"
			:single-select="true"
			:disable-pagination="true"
			:hide-default-footer="true"
			show-select
			item-key="characterId"
			@click:row="characterRowClick"
		>
		</v-data-table>
	</div>
</template>

<script>
export default {
	props: {
		serverMapping: {
			type: Object,
			default: null,
		},
		searchInfo: {
			type: Object,
			default: null,
		},
	},
	created() {},
	mounted() {
		window.addEventListener('resize', this.setTableHeight);
		this.setTableHeight();
	},
	data() {
		return {
			header: [
				{ value: 'serverName', text: '서버' },
				{ value: 'characterId', text: '캐릭터고유ID' },
				{ value: 'characterName', text: '캐릭터명' },
				{ value: 'level', text: '레벨' },
				{ value: 'jobName', text: '직업명' },
				{ value: 'jobGrowName', text: '각성직업명' },
			],
			data: [],
			selected: [],
			selectedData: null,
			tableHeight: 0,
		};
	},
	watch: {
		'searchInfo.serverId'(newValue, oldValue) {
			if (oldValue) this.callCharacterList();
		},
		'searchInfo.wordType'(newValue, oldValue) {
			if (oldValue) this.callCharacterList();
		},
		'searchInfo.characterName'() {
			this.callCharacterList();
		},
	},
	methods: {
		callCharacterList() {
			const param = {
				serverId: this.searchInfo.serverId,
				characterName: this.searchInfo.characterName,
				wordType: this.searchInfo.wordType,
				limit: 200,
			};
			this.$apiManager
				.getCharacter(param)
				.then(res => {
					this.data = [];
					if (res.data) {
						this.data.push(
							...res.data.rows.map(v => {
								v.serverName = this.serverMapping[v.serverId];
								return v;
							}),
						);
					}
				})
				.catch(err => {
					console.error(err);
					this.data = [];
				});
		},
		characterRowClick(e, data) {
			if (data.isSelected) {
				// 선택해제
				this.selectedData = null;
			} else {
				// 선택
				this.selectedData = e;
			}
			data.select(!data.isSelected);
			this.$emit('selectedData', this.selectedData);
		},
		setTableHeight() {
			this.tableHeight = document.querySelector('body').offsetHeight - 300;
		},
	},
};
</script>

<style></style>
