<template>
	<v-row dense class="mt-10">
		<v-col cols="12" sm="3">
			<v-select
				dense
				label="검색타입"
				v-model="searchInfo.wordType"
				:items="wordTypeList"
				:disabled="!searchable"
			></v-select>
		</v-col>
		<v-col cols="12" sm="3">
			<v-select
				dense
				label="서버선택"
				v-model="searchInfo.serverId"
				:items="serverList"
				:disabled="!searchable"
			></v-select>
		</v-col>
		<v-col cols="12" sm="6">
			<v-text-field
				dense
				v-model="searchInfo.characterName"
				label="캐릭터명을 입력하세요."
				hide-details="auto"
				append-icon="mdi-magnify"
				:error-messages="errorMessage"
				:disabled="!searchable"
				@focusout="errorMessage = ''"
				@click:append="search"
				@keydown.enter="search"
			></v-text-field>
		</v-col>
	</v-row>
</template>

<script>
export default {
	props: {
		serverList: {
			type: Array,
			default: null,
		},
		serverMapping: {
			type: Object,
			default: null,
		},
		searchable: {
			type: Boolean,
			default: true,
		},
	},
	data() {
		return {
			errorMessage: '',
			searchInfo: {
				serverId: 'all',
				wordType: 'match',
				characterName: '',
			},
			wordTypeList: [
				{ text: '동일 단어', value: 'match' },
				{ text: '전문 검색', value: 'full' },
			],
		};
	},
	watch: {
		'searchInfo.wordType'() {
			this.search();
		},
		'searchInfo.serverId'() {
			this.search();
		},
		'searchInfo.characterName'() {
			this.search();
		},
	},
	created() {},
	methods: {
		name() {},
		search() {
			if (!this.validate()) return;
			// 최종적으로 세팅된 조회 정보 전달.
			this.$emit('search', this.searchInfo);
		},
		validate() {
			let p = this.searchInfo;
			let type = p.wordType;
			let word = p.characterName;
			if (!word) {
				this.errorMessage = '캐릭터명을 입력하세요';
				return false;
			}
			if (type === 'full' && (word.length < 2 || word.length > 12)) {
				// 2~12자
				this.errorMessage = '전문 검색시 최소 2자에서 최대 12자까지 이용 가능합니다';
				return false;
			}
			this.errorMessage = '';
			return true;
		},
	},
};
</script>

<style></style>
