<template>
	<v-app>
		<v-app-bar app color="primary" dark class="text-h5">
			<v-app-bar-nav-icon>
				<v-icon>mdi-magnify</v-icon>
			</v-app-bar-nav-icon>
			<v-toolbar-title class="text-h6">
				던전앤파이터 타임라인 통계 API
			</v-toolbar-title>
			<v-spacer></v-spacer>
			<span class="text-overline">
				jwlee / halphas@naver.com
			</span>
		</v-app-bar>
		<v-container>
			<v-main>
				<SearchBar
					v-show="searchable"
					:serverList="serverList"
					:serverMapping="serverMapping"
					:searchable="searchable"
					@search="search"
				></SearchBar>
				<CharacterList
					v-show="!showCharacterDetail"
					:serverMapping="serverMapping"
					:searchInfo="searchInfo"
					@selectedData="selectedData"
				></CharacterList>
				<CharacterDetail
					v-show="showCharacterDetail"
					:characterInfo="characterInfo"
					:characterId="characterInfo ? characterInfo.characterId : ''"
					:useCache="useCache"
					@prevStep="prevStep"
				></CharacterDetail>
			</v-main>
		</v-container>
	</v-app>
</template>

<script>
import CharacterList from './components/CharacterList';
import CharacterDetail from './components/CharacterDetail';
import SearchBar from './components/SearchBar';

export default {
	name: 'App',
	data() {
		return {
			serverList: [],
			serverMapping: {},
			searchInfo: {},
			characterInfo: null,
			useCache: true,
		};
	},
	computed: {
		searchable() {
			return !this.characterInfo;
		},
		showCharacterDetail() {
			return this.characterInfo !== null;
		},
	},
	created() {
		this.$apiManager
			.getServerList()
			.then(res => {
				this.serverList = [{ text: '전체', value: 'all' }];
				this.serverList.push(
					...res.data.rows.map(v => {
						this.serverMapping[v.serverId] = v.serverName;
						return { text: v.serverName, value: v.serverId };
					}),
				);
			})
			.catch(e => {
				console.error(e);
			});
	},
	methods: {
		search(searchInfo) {
			this.searchInfo = searchInfo;
		},
		selectedData(selectedData) {
			this.characterInfo = selectedData;
		},
		prevStep() {
			this.characterInfo = null;
		},
	},
	components: {
		CharacterList,
		CharacterDetail,
		SearchBar,
	},
};
</script>
